<div [ngClass]="{status_selected: active}" class="cardmain">
  <div *ngIf="cardStatus" class="status status-{{cardStatus.substring(0,3).toUpperCase()}}">
    <div class="row">
      <div class="status-text text-left col-md-12" *ngIf="cardStatus">{{cardStatus.toUpperCase()}}</div>
      <div class="col-md-9 text-right status-text" *ngIf="cardName">
        {{cardName.toLocaleUpperCase()}}
      </div>
    </div>
    <div class="mh-card">
      <ng-content></ng-content>
    </div>
  </div>
</div>
